/**************** Polar Bear Design styles *****************/

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 480;
  }

.row {
  float: left;
  white-space: nowrap;
  display: inline;
  width: 650px;
  }

.tables { 
  margin: 0;
  height: 480px;
  width: 12400px; /* for width of scroll item: each day is 100px wide = 3100px for 31 days */
  } 

.cell {
  float: left;
  }

.hourly {
  border-spacing: 0;
  cellpadding: 0;
  border-collapse: collapse;
  }

.hourly td {
  border: 1px solid #999;

  }

.taken {
  /*background: url("img/taken.jpg");*/
  background: #cadbeb;
  }

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  background: #e0eeff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }